#create-recipe-container, #single-recipe-container, #edit-recipe-container {
    display: none;
}

.invalid-feedback {
    display: none;
}

.invalid-feedback {
    color: #cc0000;
}

#inline-checkboxes {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#recipes-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between; /* or left to ignore awk space when 2 or 5 recipes */
}

.recipe-card {
    margin: 15px 0;
    display: flex;
    flex-direction: column;
    align-items: center; /* default justification also appealing */
}

#single-recipe-container {
    text-align: center;
}

#recipe_details {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

h1 {
    margin-bottom: 30px;
}


body {
    position: relative;
    min-height: 100vh;
}

.container {
    padding-bottom: 100px;
}
  
footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #e4e4e6;
    text-align: center;
    font-size: 10pt;
    padding: 15px;
}

.btn {
    min-width: 75px;
    margin: 10px;
}

#back-btn {
    float: left;
    margin-top: 30px;
    background-color: #e4e4e6;
}

.btn-secondary:hover, #back-btn:hover {
    background-color: #cdcfd2;
}

#edit-btn {
    float: right;
    margin-top: 30px;
}

#recipe-heading {
    display: inline-block;
}

/* homepage */
.recipe-img-container {
    position: relative;
    width: 100%;
}
  
/* https://www.w3schools.com/howto/howto_css_image_overlay.asp */
.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .2s ease;
    background-color: #d1d1d1;
}
  
.recipe-img-container:hover .overlay {
    opacity: 0.5;
}

#general-error-msg, #edit-general-error-msg {
    color: #cc0000;
}



/* descendant selectors */
.recipe-card img {
    max-width: 350px;
    height: auto; 
}

.recipe-card h3 {
    max-width: 350px;
    font-size: 20pt;
    margin-top: 10px;
}

#single-recipe-container span {
    font-weight: bold;
}

#recipe-heading h1 {
    text-align: center;
    margin: 30px;
}

/* single recipe */
#recipe-img img {
    width: 100%;
    max-height: 600px;
    object-fit: cover;
    margin-bottom: 30px;
}

#recipe-details > * {
    font-size: 14pt;
    text-align: left;
}

form > * {
    margin: 20px 0;
}

/* Adjacent selectors */

.recipe-img-container + img {
    display: block;
    width: 100%;
    height: auto;
}





  


